@import '/src/_sass/shared.scss';

.cartSummary {
    @include whiteBox;

    .header,
    .body {
        padding: 16px;
    }

    .header {
        border-bottom: thin solid $grayShade;
    }

    .priceBreakdown {
        padding-bottom: 16px;
    }

    .price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 0;
        border-bottom: thin solid $grayShade;

        .label,
        .value {
            font-size: 14px;
        }

        &:last-child {
            border-bottom: none;

            .label,
            .value {
                font-size: 16px;
            }
        }
    }

    .action {
    }
}
