@font-face {
    font-family: 'Segoe UI';
    src: url('/fonts/Segoe-UI.eot');
    src: url('/fonts/Segoe-UI.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Segoe-UI.woff2') format('woff2'),
        url('/fonts/Segoe-UI.woff') format('woff'),
        url('/fonts/Segoe-UI.ttf') format('truetype'),
        url('/fonts/Segoe-UI.svg#Segoe UI') format('svg');
}
