@import './shared.scss';

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: $grayTint;
}

html,
body,
body > div {
    height: 100%;
    min-height: 100%;
}

body {
    font-family: $font;
}

h1,
h2,
h3 {
    margin: 0;
}

h2 {
    font-size: 16px;
    font-weight: normal;
}

p {
    margin: 0;
}
