/* Colors
-----------------------------------------*/
$white: #fff;
$black: #111827;
$gray: #f9fafb;
$grayDark: #f3f4f6;
$blue: #546dfe;
$orange: #f59e0b;
$pink: #f7598e;
$green: #3cd4a0;

/* Typography
-----------------------------------------*/
$font: 'Segoe UI', Helvetica, Arial, sans-serif;

/* Helpers
-----------------------------------------*/
@mixin absoluteFullSpace {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin imageFullWidth {
    width: 100%;
    height: auto;
}
@mixin imageFullHeight {
    width: auto;
    height: 100%;
}
