/* Colors
-----------------------------------------*/
$white: #fff;
$black: #111827;
$gray: #999;
// $gray1: #e5e7eb;
$grayTint: #f9fafb;
$grayShade: #e5e7eb;
$blue: #546dfe;
$orange: #f59e0b;
$pink: #f7598e;
$green: #3cd4a0;

/* Typography
-----------------------------------------*/
$font: 'Segoe UI', Helvetica, Arial, sans-serif;
