@import '/src/_sass/shared.scss';

.productCard {
    flex: 0 0 20%;

    &,
    .card {
        display: flex;
    }

    .photo,
    .title {
        display: block;
    }

    .card {
        width: 100%;
        flex-direction: column;
        margin: 4px;
        padding: 16px;
        border-radius: 4px;
        background-color: $white;
        border: thin solid darken($grayShade, 5);
    }

    .photo {
        position: relative;
        width: 100%;
        padding-bottom: 100%;

        .inner {
            @include absoluteFullSpace;
            @include flexCenter;
        }

        img {
            @include imageFullWidth;
        }
    }
    .title {
    }
    .price {
        display: flex;
        align-items: center;

        .label {
            font-size: 12px;
            text-transform: uppercase;
            color: $gray;
        }
        .value {
            color: $pink;
            font-weight: bold;
            font-size: 18px;
            padding-left: 8px;
        }
    }
    .action {
        padding-top: 16px;
    }
    .cardFooter {
        margin-top: auto;
    }
}
